body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

.contador{
    border: 2px solid #060606;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  button {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #1e1b1b;
    color: #ffffff;
  }